.Header {
    display: flex;
    /* height: 20vh; */
    width: 100%;
    background-color: #F5F5F5;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.Header .Title {
    margin-left: 15px;
    align-self: end;
    color:#000000;
} 

.Header .Options {
    display: inline-flex; 
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-right: 40px;
}

.Header a {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
}

.Header a:hover {
    color: #000000;
}